@media (max-width: 600px) {
    nav {
        .manu {
            display: none;
        }
        .bergou{
            display: block;
            margin: auto 0;
            font-size: 1.8rem;
            cursor: pointer;
            transition: all 2s;
        }
        .onbergou{
            transform:rotate(90deg);
            font-size: 1.8rem;
            transition: all 2s;
            cursor: pointer;
            margin: auto 0;
            display: block;
        }
        .logo{
            padding-bottom: 5px;
            .logo-image{
                height: 100%;                
            }
        }
        
    }
    main {
        .box-flex {
            flex-direction: column;
            width: 100%;
            padding: 0;
            margin-top: 50px;
            .box-left, .box-reiht {
                padding: 0;
                width: 100%;
                .image {
                    width: 100%;
                    height: 100%;
                    padding: 0;
                }
                .text {
                    padding: 0;
                }
            }
        }
    }
    //todo mobiy main
    .showSizeber {
        display: grid;
        grid-template-columns: 3fr 1fr;
        .sizeber {
            background: $back;
            display: block;
            flex-direction: column;
            transform: translateX(0);
            width: 200px;
            .manu {
                .manu-ul {
                    margin-top: 30px;
                    padding-left: 30px;
                    li {
                        list-style: none;
                        margin-top: 10px;
                        position: relative;
                        a {
                            text-decoration: none;
                            color:$whte
                        }
                    }
                    li::after {
                        content: '';
                        position: absolute;
                        width: 0%;
                        height: 2px;
                        background: $linar-2;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom : 0;
                        border-radius: 5px;
                    }
                    li:hover::after {
                        width: 100%;
                        transition: all 1s ease-out;
                    }
                }
            }
        }
        .sideshow {
            width: 100%;
            position: relative;
            margin: 0 100px;
            .box-flex {
                .box-left,.box-reiht {
                    .text {
                        a {
                            width: 100%;
                        }
                        a::after {
                            content: attr(alt);
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .sizeber {
        display: none;
    }
  }